.expense-card {
    display: grid;
    width: clamp(22rem, 90%, 30rem);
    padding: var(--spacing-large);
    border: 1px solid grey;

    border-radius: var(--border-radius);
    grid-template-columns: 1fr auto;
}

.expense-card + .expense-card {
    margin-top: var(--spacing-large);
}

.expense-card__title {
    font-size: 2.4rem;
    display: inline-block;
}

.expense-card__type {
    font-size: 1.1rem;
    font-weight: 200;
    color: grey;
    border-radius: var(--border-radius);
}

.expense-card__amount {
    font-size: 2.4rem;
    font-weight: 700;
    color: hsla(0, 100%, 50%, 80%);
}

.expense-card__amount::before {
    margin-right: var(--spacing-small);
    content: "€";
}

.expense-card__date {
    font-size: 1.3rem;
    font-weight: 200;
    color: grey;
}
