:has(.multi-select) {
    overflow: visible;
}

.multi-select {
    position: relative;
    border-radius: var(--border-radius);
    background-color: transparent;
}

.multi-select__selected {
    font-size: 1.3rem;
}

.multi-select__selected-item {
    padding: var(--spacing-small);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
}

.multi-select__selected-item-remove {
    margin: 0;
    padding: .5em;

    cursor: pointer;
    border: none;
}

.multi-select__search {
    width: 100%;
}

.multi-select__options {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: fit-content;
    max-height: 30vh;
    padding: var(--spacing-small);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: var(--background);
    box-shadow: 0 .3rem 1rem currentColor;
}

.multi-select__option {
    padding: var(--spacing-small);
    cursor: pointer;
}
