.date-range-picker {
    display: flex;
    gap: var(--spacing-large);
}

.date-range-picker__start, .date-range-picker__end {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}
