:root {
    font-size: 62.5%;
    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
    --spacing-large: 2rem;

    --spacing-medium: 1rem;
    --border-radius: 1.2rem;
    --spacing-small: 0.5rem;

    --max-width: 1100px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(0, 0, 0);
        --foreground: rgb(255, 255, 255);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    max-width: var(--max-width);
    padding: var(--spacing-large);

    color: var(--foreground);
    background: var(--background);
    margin-inline: auto;
}

main {
    width: fit-content;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 450;
}

h1 {
    margin-bottom: var(--spacing-large);
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

form input, form select, form textarea {
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

button, .button {
    width: fit-content;
    padding: var(--spacing-medium) var(--spacing-medium);
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    gap: var(--spacing-large);
}

header :last-child {
    margin-left: auto;
}

header nav {
    font-size: 1.8rem;
    display: contents;
}

header h1 {
    display: inline-block;
}

@media (max-width: 450px) {
    header {
        align-items: flex-start;
        flex-direction: column;
    }

    header :last-child {
        margin-left: 0;
    }
}

.add-option {
    display: inline-block;
    width: fit-content;
    margin-top: var(--spacing-large);
    padding: var(--spacing-large);
    vertical-align: middle;
    border: 1px solid var(--foreground);
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;
}

.add-option + .add-option {
    margin-left: var(--spacing-large);
}

.expense-card {
    display: grid;
    width: clamp(22rem, 90%, 30rem);
    margin: var(--spacing-medium);
    padding: var(--spacing-large);
    border: 1px solid gray;

    border-radius: var(--border-radius);
    grid-template-columns: 1fr auto;
}

.expense-card__title {
    font-size: 2.4rem;
    display: inline-block;
}

.expense-card__type {
    font-size: 1.1rem;
    font-weight: 200;
    color: gray;
    border-radius: var(--border-radius);
}

.expense-card__amount {
    font-size: 2.4rem;
    font-weight: 700;
    color: hsla(0, 100%, 50%, 80%);
}

.expense-card__amount::before {
    margin-right: var(--spacing-small);
    content: "€";
}

.expense-card__date {
    font-size: 1.3rem;
    font-weight: 200;
    color: gray;
}

.income-card {
    display: grid;
    width: clamp(16rem, 90%, 30rem);
    margin: var(--spacing-medium);
    padding: var(--spacing-large);
    border: 1px solid gray;

    border-radius: var(--border-radius);
    grid-template-columns: 1fr auto;
}

.income-card__title {
    font-size: 2.4rem;
    display: inline-block;
}

.income-card__amount {
    font-size: 2.4rem;
    font-weight: 700;
    color: green;
}

.income-card__amount::before {
    margin-right: var(--spacing-small);
    content: "€";
}

.income-card__date {
    font-size: 1.3rem;
    font-weight: 200;
    color: gray;
}