:root {
    font-size: 62.5%;

    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    --border-radius: 1.2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(0, 0, 0);
        --foreground: rgb(255, 255, 255);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 1.6rem;
    display: grid;

    padding: var(--spacing-large);
    color: var(--foreground);
    background: var(--background);
    margin-inline: auto;
    grid-template-areas:
        "topbar topbar"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 7fr;
    grid-gap: var(--spacing-large);
}

#topbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    grid-area: topbar;
}

#topbar h1 {
    margin-bottom: var(--spacing-medium);
}

#sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 450;
}

h1 {
    margin-bottom: var(--spacing-large);
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

form input, form select, form textarea {
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

button, .button {
    width: fit-content;
    padding: var(--spacing-medium) var(--spacing-medium);
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
}

thead {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

th, td {
    padding: var(--spacing-large);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tr:last-child td {
    border-bottom: none;
}

#sidebar {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

#sidebar a {
    padding: var(--spacing-medium);
    color: rgba(255, 255, 255, 0.8);
    border-radius: var(--border-radius);
}

#sidebar a.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.13);
}

#sidebar a:hover {
    color: white;
}

#sidebar h1 {
    display: inline-block;
}

svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
}

.add-option {
    font-size: 1.1em;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    margin-top: var(--spacing-large);
    border: 1px solid var(--foreground);
    border-radius: var(--border-radius);
    gap: var(--spacing-medium);
    aspect-ratio: 1 / 1;
}

.add-option + .add-option {
    margin-left: var(--spacing-large);
}

.add-option svg {
    width: 2em;
    height: 2em;
}

.pagination-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-large);
    gap: var(--spacing-large);
}

.pagination-nav__item {
    color: grey;
}

.pagination-nav__item--active {
    color: var(--foreground);
}
