:root {
    font-size: 62.5%;

    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    --border-radius: 1.2rem;

    --page-width: 1100px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(0, 0, 0);
        --foreground: rgb(255, 255, 255);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 1.6rem;
    display: grid;
    max-width: var(--page-width);

    padding: var(--spacing-large);
    color: var(--foreground);
    background: var(--background);
    margin-inline: auto;
    grid-template-areas:
        "topbar topbar"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 7fr;
}

#topbar {
    grid-area: topbar;
}

#sidebar {
    grid-area: sidebar;
}

main {
    width: fit-content;
    margin-inline: auto;
    grid-area: main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 450;
}

h1 {
    margin-bottom: var(--spacing-large);
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

form input, form select, form textarea {
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

button, .button {
    width: fit-content;
    padding: var(--spacing-medium) var(--spacing-medium);
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: transparent;
}

#sidebar {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

#sidebar a {
    padding: var(--spacing-medium);
    color: rgba(255, 255, 255, 0.8);
    border-radius: var(--border-radius);
}

#sidebar a.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.13);
}

#sidebar a:hover {
    color: white;
}

#sidebar h1 {
    display: inline-block;
}

svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
}

.add-option {
    font-size: 1.1em;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    margin-top: var(--spacing-large);
    border: 1px solid var(--foreground);
    border-radius: var(--border-radius);
    gap: var(--spacing-medium);
    aspect-ratio: 1 / 1;
}

.add-option + .add-option {
    margin-left: var(--spacing-large);
}

.add-option svg {
    width: 2em;
    height: 2em;
}

.expense-card {
    display: grid;
    width: clamp(22rem, 90%, 30rem);
    padding: var(--spacing-large);
    border: 1px solid grey;

    border-radius: var(--border-radius);
    grid-template-columns: 1fr auto;
}

.expense-card + .expense-card {
    margin-top: var(--spacing-large);
}

.expense-card__title {
    font-size: 2.4rem;
    display: inline-block;
}

.expense-card__type {
    font-size: 1.1rem;
    font-weight: 200;
    color: grey;
    border-radius: var(--border-radius);
}

.expense-card__amount {
    font-size: 2.4rem;
    font-weight: 700;
    color: hsla(0, 100%, 50%, 80%);
}

.expense-card__amount::before {
    margin-right: var(--spacing-small);
    content: "€";
}

.expense-card__date {
    font-size: 1.3rem;
    font-weight: 200;
    color: grey;
}

.income-card {
    display: grid;
    width: clamp(16rem, 90%, 30rem);
    padding: var(--spacing-large);
    border: 1px solid grey;

    border-radius: var(--border-radius);
    grid-template-columns: 1fr auto;
}

.income-card + .income-card {
    margin-top: var(--spacing-large);
}

.income-card__title {
    font-size: 2.4rem;
    display: inline-block;
}

.income-card__amount {
    font-size: 2.4rem;
    font-weight: 700;
    color: green;
}

.income-card__amount::before {
    margin-right: var(--spacing-small);
    content: "€";
}

.income-card__date {
    font-size: 1.3rem;
    font-weight: 200;
    color: grey;
}

:has(.multi-select) {
    overflow: visible;
}

.multi-select {
    position: relative;
    border-radius: var(--border-radius);
    background-color: transparent;
}

.multi-select__selected {
    font-size: 1.3rem;
}

.multi-select__selected-item {
    padding: var(--spacing-small);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
}

.multi-select__selected-item-remove {
    margin: 0;
    padding: .5em;

    cursor: pointer;
    border: none;
}

.multi-select__search {
    width: 100%;
}

.multi-select__options {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: fit-content;
    max-height: 30vh;
    padding: var(--spacing-small);
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    background-color: var(--background);
    box-shadow: 0 .3rem 1rem currentColor;
}

.multi-select__option {
    padding: var(--spacing-small);
    cursor: pointer;
}

.pagination-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-large);
    gap: var(--spacing-large);
}

.pagination-nav__item {
    color: grey;
}

.pagination-nav__item--active {
    color: var(--foreground);
}
